name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '8.4'
          - '8.5'
        dependency-versions:
          - 'lowest'
          - 'highest'

    name: PHP ${{ matrix.php-version }} ${{ matrix.dependency-versions }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: ${{ matrix.dependency-versions }}

      - name: Run tests
        run: vendor/bin/phpunit

  checks:
    runs-on: ubuntu-latest

    name: Checks

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        uses: "ramsey/composer-install@v3"

      - name: Check composer.json normalization
        run: composer normalize --diff --dry-run

      - name: Check README examples are in sync
        run: |
          vendor/bin/readme-examples-sync
          git diff --exit-code README.md || (echo "README.md is out of sync with example files. Run 'vendor/bin/readme-examples-sync' and commit the changes." && exit 1)

      - name: Check dependencies
        run: vendor/bin/composer-dependency-analyser

      - name: Run PHP CS Fixer
        run: vendor/bin/php-cs-fixer check --diff --ansi

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --ansi
